*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #ff6900;
    height: 60px;
    max-width: 1500px;
}

.header-command{
    height: 60px;
    width: 932px;
    margin: 0 150px 0 150px;

    /* DEBUG */
    /* background-color: white; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generi{
    color: white;
    margin-left: 34px;
}


.b-logo{
    height: 25px;
    margin-right: 100px;
}

.item{
    color: white;
}




/* Corpo centrale e foto */

main{
    height: 1000px;
    max-width: 1500px;
}

.row{
    height: 380px;
    max-width: 1500px;
    margin: 60px 180px 120px 180px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product{
    height: 380px;
    width: 300px;
    /* background-color: aqua; */
    margin: 0 5px;
    position: relative;
    
}

.img-product{
    height: 380px;
    width: 290px;
    object-fit: cover;
}

.brand{
    font-size: 12px;
}

.brand-item{
    font-size: 15px;
}

.price{
    font-size: 12px;
    color: red;
}

.price-crossed{
    text-decoration: line-through;
    color: black;
}

.euro{
    margin-left: 1px;
}

.label1{
    position: absolute;
    background-color: #ff0000;
    font-size: 14px;
    padding: 2px 5px;
    color:white;
    z-index: 10;
    bottom: 20px;
    left: 0;
    
}

.label2{
    position: absolute;
    background-color: #048105;
    font-size: 14px;
    padding: 2px 10px;
    color:white;
    z-index: 10;
    bottom: 20px;
    left: 50px;
    
}

.label3{
    position: absolute;
    background-color: #048105;
    font-size: 14px;
    padding: 2px 10px;
    color:white;
    z-index: 10;
    bottom: 20px;
    left: 0;
    
}


/* Footer */

footer{
    height: 70px;
    max-width: 1500px;
    background-color: #1a1a1a;
    color: white;
}

.last-informations{
    height: 70px;
    /* background-color: red; */
    margin: 0 185px 0 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    
}


.vaious-informations{
    font-size: 12px;
    margin-top: 5px;
}

a{
    color: white;
    text-decoration: none;
}

a+a{
    margin: 0 3px 0 3px;
}

i+i{
    margin: 5px 5px 0 5px;
}





